<app-listado-almunos></app-listado-almunos>
    <h1>Alumnos 2024
    </h1>
<body>
        <div class="a">
        <h2>Nombres</h2>
        <p *ngFor="let alumno of alumnos">
            {{alumno.nombre}}
        </p>
    </div>
    <div class="b">       
        <h2>Carreras</h2>
        <p *ngFor="let alumno of alumnos">
            {{alumno.carrera}}
        </p>
    </div>
    <div class="c">    
        <h2>Legajos</h2>
        <p *ngFor="let alumno of alumnos">
            {{alumno.legajo}}
        </p>
    </div>
</body>
